@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --bg-color: #3d3d3c;
    --text-color: #d3bbae;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.menu{
    text-align: right;
}

.todo-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
}
.todo, .in-progress, .complete{
    width: 100%;
    border: 2px solid var(--text-color);
}